<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>
<body>
    <% include ../partials/nav.ejs %>
    
    
    <div class="row justify-content-between mt-1">
        <div class="col-lg-1"></div>
        <!-- Search bar -->
        <form class="row justify-content-center col-lg-6 justify-content-md-center my-3" action="/job-list" method="post">
            <input  class="col-lg-6 form-control search-bar mx-3" type="search" name="key" style="font-size:25px" value="<%=key%>" placeholder="search here">

            <button class=" btn-primary search-bar" type="submit"
            style="background-color:#4c96d7 ;border-color: #4c96d7;font-size: 25px;">&ensp;Search&ensp;</button>
        </form>
        <a class="col-lg-1 pt-4"style="border-color:transparent;" href="/"><i class="fa fa-chevron-circle-left fa-lg" style="color:#4c96d7" aria-hidden="true">Back</i></a>
    </div>

    <!-- job list -->
      <div class="list-group mb-5"  >

        <%if(jobs.length==0){%>
          <a href="/job-list" class="list-group-item list-group-item-action  flex-column align-items-start my-1 shadow-sm" style="border-radius: 15px;">
            <div class="row justify-content-center">
                <h1 class="p-1" >No matched job!</h1>
                
            </div>
          </a>
          <%}%>


        <%for(i=0;i<jobs.length;i++){%>
          
        <a href="/job-detail/<%=jobs[i].jobId%>" class="list-group-item list-group-item-action  flex-column align-items-start my-1 shadow-sm" style="border-radius: 15px;">
          <div class="d-flex w-100 justify-content-between">
            <h2 class="mb-1" style="color:#4c96d7"><%=jobs[i].jobTitle%></h2>
          </div>
          <small></small>
          <p class="mb-1"><%=jobs[i].companyDetail[0].name%></p>
          <small class="text-muted"><i class="fa fa-map-marker fa-lg" style="color:#4c96d7" aria-hidden="true"></i>&emsp;&ensp;&nbsp;<%=jobs[i].jobLocation%>, <%=jobs[i].jobCity%></small><br>
          <small class="text-muted"><i class="fa fa-usd fa-lg" style="color:#85bb65 " aria-hidden="true"></i>&emsp;&ensp;<%=jobs[i].jobSalary%> per hour</small><br>
          <small class="text-muted"><i class="fa fa-calendar-o fa-lg" style="color:red " aria-hidden="true"> </i>&emsp;<%= moment(jobs[i].jobStart).format("DD-MM-YYYY") %> &rarr; <%= moment(jobs[i].jobEnd).format("DD-MM-YYYY") %></small>
        </a>
        <%}%>
      </div>

      

  </body>
  </html>
  